@use '../variables' as *;

.option {
  padding: 0.25em 0.5em;
  background-color: var(--bg-dark);
  transition: 200ms ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: var(--shadow-s);
    background-color: var(--bg);
  }
}

.btn {
  width: max-content;
}
