@use '../variables' as *;

.container {
  position: relative;
  display: inline-block;

  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--bg);
    box-shadow: var(--shadow-s);
    border-radius: var(--border-radius);
    min-width: 12.5rem;
    display: none;

    &.active {
      display: flex;
    }

    @media only screen and (max-width: $lg) {
      position: fixed;
      bottom: calc(
        (0.5em * 2) + 3em
      ); // Match navbar height (padding top + bottom + approximate content height)
      top: auto;
      min-width: 100vw;
      width: 100vw;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      z-index: 1;
    }

    .menuBtn {
      background-color: transparent;
      border: none;
      color: inherit;
      font-size: var(--small-text-size);
      text-align: right;
      padding: 0.5em 1em;
      box-shadow: none;
      cursor: pointer;
      justify-content: end;

      &:hover {
        transform: none;
        font-weight: var(--bold-weight-text);
        background-color: var(--bg-dark);
      }

      @media only screen and (max-width: $lg) {
        text-align: center;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
