@use '../variables' as *;

.btn {
  border-radius: var(--border-radius);
  border: none;
  padding: 0.5em 1em;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  color: var(--bg);
  transition: 200ms ease-in-out;
  box-shadow: var(--shadow-s);

  &:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: var(--shadow-l);
  }
}

.btn-primary {
  font-weight: var(--bold-weight-text);
  background-color: var(--primary);

  &:hover {
    background-color: var(--primary-dark);
  }
}

.btn-secondary {
  background-color: var(--secondary);

  &:hover {
    background-color: var(--secondary-dark);
  }
}

.btn-tertiary-error {
  border: 3px solid var(--error);

  border-color: var(--error);
  background-color: hsla(0, 100%, 50%, 20%);
  color: var(--text);

  &:hover {
    background-color: var(--error-dark);
    color: var(--bg);
  }
}

.btn-error {
  background-color: var(--error);

  &:hover {
    background-color: var(--error-dark);
  }
}

.no-button {
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 200ms ease-in-out;

  &:hover {
    cursor: pointer;

    background-color: var(--bg);
  }
}
