@use '../variables' as *;

.d-grid {
  display: grid;
}

img {
  object-fit: cover;
}

.grid-columns-1-1 {
  grid-template-columns: 1fr 1fr;
}

.d-grid p:nth-of-type(odd) {
  font-weight: var(--bold-weight-text);
}
