@use '../variables' as *;

table {
  background-color: var(--bg-light);
  width: 100%;
  border: 2px solid var(--secondary);
  border-top: none;
}

thead {
  background-color: var(--secondary);
  color: var(--bg);

  @media only screen and (max-width: $md) {
    display: none;
  }
}

td {
  font-size: var(--small-text-size);
  padding: 0.5em 1em;

  @media only screen and (max-width: $md) {
    display: grid;
    grid-template-columns: auto 1fr;

    &::before {
      content: attr(data-label);
      font-weight: var(--bold-weight-text);
      color: inherit;
      white-space: nowrap;
    }
  }
}

tr {
  padding: 1em;
  @media only screen and (max-width: $md) {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

tr:nth-of-type(even) {
  background-color: var(--bg-dark);
}
