$xxl: 87.5em;
$xl: 75em;
$lg: 62em;
$md: 48em;
$sm: 36em;
$xs: 22em;

:root {
  --xxl: #{$xxl};
  --xl: #{$xl};
  --lg: #{$lg};
  --md: #{$md};
  --sm: #{$sm};
  --xs: #{$xs};

  // BASE COLORS
  // Color codes - Descriptive names
  --black-hs: 38, 15%;
  --black-l: 13%;

  --white-hs: 31, 30%;
  --white-l: 83%;

  --blue-hs: 248, 43%;
  --blue-l: 21%;

  --brown-hs: 31, 43%;
  --brown-l: 21%;

  --beige-hs: 33, 70%;
  --beige-l: 73%;

  // Color codes - Functional names
  --primary-hs: var(--blue-hs);
  --primary-l: var(--blue-l);

  --secondary-hs: var(--brown-hs);
  --secondary-l: var(--brown-l);

  --accent-hs: var(--beige-hs);
  --accent-l: var(--beige-l);

  --bg-hs: var(--white-hs);
  --bg-l: var(--white-l);

  --text-hs: var(--black-hs);
  --text-l: var(--black-l);

  // Calculated colors
  --primary: hsl(var(--primary-hs), calc(var(--primary-l) - 0%));
  --primary-dark: hsl(var(--primary-hs), calc(var(--primary-l) - 5%));
  --primary-light: hsl(var(--primary-hs), calc(var(--primary-l) + 5%));
  --secondary: hsl(var(--secondary-hs), calc(var(--secondary-l) - 0%));
  --secondary-dark: hsl(var(--secondary-hs), calc(var(--secondary-l) - 5%));
  --accent: hsl(var(--accent-hs), calc(var(--accent-l) - 0%));
  --bg: hsl(var(--bg-hs), calc(var(--bg-l) - 0%));
  --bg-dark: hsl(var(--bg-hs), calc(var(--bg-l) - 5%));
  --bg-light: hsl(var(--bg-hs), calc(var(--bg-l) + 5%));
  --text: hsl(var(--text-hs), calc(var(--text-l) - 0%));
  --text-muted: hsl(var(--text-hs), calc(var(--text-l) + 20%));

  // STATE COLORS
  // Color codes
  --warning-hs: 20, 67%;
  --warning-l: 44%;
  --error-hs: 4, 79%;
  --error-l: 26%;
  --success-hs: 124, 62%;
  --success-l: 18%;

  // Calculated colors
  --warning: hsl(var(--warning-hs), calc(var(--warning-l) - 0%));
  --warning-dark: hsl(var(--warning-hs), calc(var(--warning-l) - 5%));
  --error: hsl(var(--error-hs), calc(var(--error-l) - 0%));
  --error-dark: hsl(var(--error-hs), calc(var(--error-l) - 5%));
  --success: hsl(var(--success-hs), calc(var(--success-l) - 0%));
  --success-dark: hsl(var(--success-hs), calc(var(--success-l) - 5%));

  // GRADIENTS
  --primary-secondary: linear-gradient(to right, var(--primary), var(--secondary));
  --loading-bg: hsla(var(--text-hs), calc(var(--text-l) - 0%), 50%);
  --loading-highlight: hsla(var(--text-hs), calc(var(--text-l) - 0%), 45%);
  --loading: linear-gradient(
    -90deg,
    var(--loading-bg) 0%,
    var(--loading-bg) 44%,
    var(--loading-highlight) 48%,
    var(--loading-highlight) 51%,
    var(--loading-bg) 55%,
    var(--loading-bg) 100%
  );

  // SHADOWS
  --shadow-s:
    0px 2px 4px hsla(var(--black-hs), var(--black-l), 20%),
    0px 4px 8px hsla(var(--black-hs), var(--black-l), 10%);
  --shadow-m:
    0px 4px 8px hsla(var(--black-hs), var(--black-l), 20%),
    0px 8px 10px hsla(var(--black-hs), var(--black-l), 10%);
  --shadow-l:
    0px 8px 10px hsla(var(--black-hs), var(--black-l), 20%),
    0px 10px 12px hsla(var(--black-hs), var(--black-l), 10%);

  // FONT SETTINGS
  --family-heading: var(--font-fredoka), system-ui, sans-serif;
  --heading-letter-spacing: 0px;
  --family-text: var(--font-montserrat), system-ui, sans-serif;
  --regular-weight-text: 400;
  --bold-weight-text: 700;
  --text-letter-spacing: 0px;
  --family-logo: var(--font-grenze-gotisch), var(--font-montserrat), system-ui, sans-serif;

  // FONT SIZES
  --type-scale: 1.2;
  --text-size: 1.125rem;
  --small-text-size: calc(var(--text-size) / var(--type-scale));
  --tiny-text-size: calc(var(--small-text-size) / var(--type-scale));
  --h6-size: calc(var(--text-size) * var(--type-scale));
  --h5-size: calc(var(--h6-size) * var(--type-scale));
  --h4-size: calc(var(--h5-size) * var(--type-scale));
  --h3-size: calc(var(--h4-size) * var(--type-scale));
  --h2-size: calc(var(--h3-size) * var(--type-scale));
  --h1-size: calc(var(--h2-size) * var(--type-scale));

  --icon-size: 32px;

  // LAYOUT DEFAULTS
  --border-radius: 3px;
}

:root.dark {
  --primary-hs: var(--blue-hs);
  --primary-l: var(--blue-l);

  --secondary-hs: var(--beige-hs);
  --secondary-l: var(--beige-l);

  --accent-hs: var(--brown-hs);
  --accent-l: var(--brown-l);

  --bg-hs: var(--black-hs);
  --bg-l: var(--black-l);

  --text-hs: var(--white-hs);
  --text-l: var(--white-l);

  --text-muted: hsl(var(--text-hs), calc(var(--text-l) - 20%));
}

:root.light {
  --primary-hs: var(--blue-hs);
  --primary-l: var(--blue-l);

  --secondary-hs: var(--brown-hs);
  --secondary-l: var(--brown-l);

  --accent-hs: var(--beige-hs);
  --accent-l: var(--beige-l);

  --bg-hs: var(--white-hs);
  --bg-l: var(--white-l);

  --text-hs: var(--black-hs);
  --text-l: var(--black-l);
}
